@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

* {
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1070px;
    width: 100%;
    margin: auto;
}

.menu {
    display: flex;
    li {
        a {
            padding: 3px 10px;
            margin: 0px 15px;
            color: #2b4034;
            font-weight: 500;
            letter-spacing: 0.5px;
            transition: all ease 0.3s;
        }
        a:hover,
        .active {
            color: #a67246;
            transition: all ease 0.3s;
        }
    }
}

// .logo{
//     font-size: 1.4rem;
//     font-weight: 600;
//     letter-spacing: 1px;
//     color: #2B4034;
// }

.logo_carasur {
    max-width: 200px;
}

.right_navbar {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    a {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: relative;
        span {
            position: absolute;
            top: -7px;
            right: -7px;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: #ffffff;
            font-size: 0.6rem;
            font-weight: 500;
            background-color: #a67246;
        }
    }
    .like {
        background-color: #d9d6d2;
        color: #2b4034;
    }

    .cart {
        background-color: #d9d6d2;
        color: #2b4034;
    }
}

// Cart Modal
.modal {
    display: none;
    position: fixed;
    right: 10px;
    top: 130px;
    margin-right: 10px;
    width: 300px;
    height: 300px;
    overflow: auto;
    background-color: #efefef;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 7%;
    z-index: 100;
    animation: slide ease 2s;
    h1 {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .quantity {
        margin-left: 80px;
    }
    #trash {
        margin-top: 0px;
        margin-left: 270px;
        font-size: 20px;
        color: black;
    }

    .closeCart {
        margin-top: 15px;
        margin-left: 250px;
        font-size: 25px;
        color: black;
    }

    #total_cart {
        // position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 90px;
        top: 1px;
        right: -130px;
        width: 110px;
        height: 40px;
        border-radius: 10%;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 700;
        background-color: #a67246;
    }
}

// @keyframes slide {
//     0% {
//         transform: translateX(-100);
//     } 100% {
//         transform: translateX(0);
//     }
// }

#search_banner {
    max-width: 1250px;
    height: 500px;
    border-radius: 30px;
    background-color: #d9d6d2;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    background-image: url(./images/03_bolsa_granos.png.crdownload);
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: bottom right;
    padding: 20px;
}

.scroll_01 {
    position: absolute;
    left: -50px;
    top: -150px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
}

.scroll_02 {
    position: absolute;
    left: 60%;
    transform: translateX(-60%);
    top: -75px;
    width: 150px;
    height: 150px;
    object-position: center;
    object-fit: contain;
}

// Popular Product
#popular_product {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 100px auto;
}

.product_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        font-size: 1.56rem;
        font-weight: 900;
        color: #2b4034;
        letter-spacing: 0.5px;
    }
    span {
        color: #2b4034;
        font-weight: 400;
        letter-spacing: 1px;
        cursor: pointer;
    }
}

.favouriteCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.product_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 40px 0px;
}

.product-box {
    width: 100%;
    // border: 1px solid black;
    background-color: #efefef;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    &:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);
        transition: all ease 0.3s;
    }
    img {
        width: 100%;
        height: 200px;
        object-fit: contain;
        object-position: center;
        margin: auto;
        border-radius: 5%;
    }
    strong {
        color: #2b4034;
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-weight: 600;
        margin-top: 10px;
    }
    .quantity {
        color: #a67246;
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .price {
        margin-top: 10px;
        font-size: 1.4rem;
        font-weight: 600;
        color: #2b4034;
    }
    .cart-btn {
        width: 100%;
        height: 40px;
        background-color: #a67246;
        color: #d9d6d2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        transition: all ease 0.3s;
        i {
            margin-right: 10px;
        }
        &:hover {
            background-color: #2b4034;
            color: #d9d6d2;
            transition: all ease 0.3s;
        }
    }
    .like-btn {
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 30px;
        top: 45px;
        color: #2b4034;
        background-color: white;
        border-radius: 50%;
        font-size: 1.3rem;
        #heart_off.active {
            color: orange;
        }
        #heart_on {
            color: gray;
            &:hover {
                color: red;
            }
        }
    }
}

.us {
    margin-bottom: 60px;
}

.welcome {
    margin-left: 2%;
    padding: 10px;
    font-size: 20px;
}
.bio {
    display: flex;
}

.nosotrosBio {
    margin-top: 60px;
    padding-left: 40px;
    padding-right: 150px;
    font-size: 18px;
    text-align: left;
}

.nosotrosBioDos{
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 150px;
    font-size: 18px;
    text-align: left;
}

.coffee_shop {
    margin-top: 20px;
    margin-left: 2%;
    max-width: 25%;
    max-height: 25%;
    border-radius: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1070px;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    color: #2b4034;
    h6 {
        font-size: 15px;
    }
}

.phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 260px;
    cursor: pointer;
    &:hover {
        color: #a67246;
        transition: all ease 0.4s;
        transform: scale(150%);
    }
}

.social {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    i {
        margin: 15px;
        color: #2b4034;
        &:hover {
            color: #a67246;
            transition: all ease 0.4s;
            transform: scale(150%);
        }
    }
}

.containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #efefef;
    padding: 50px 50px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.input-box {
    margin: 20px 0 12px 0;
    input {
        margin: 15px;
        height: 45px;
        width: 400px;
        outline: none;
        border-radius: 5px;
        border: 1px solid gray;
        padding-left: 15px;
        font-size: 16px;
    }
    .div_message{
        .message{
            width: 835px;
            height: 150px;
        }
    }
}

.button-send {
    height: 45px;
    margin: 4px 0;
    input {
        margin-left: 18px;
        height: 100%;
        width: 835px;
        outline: none;
        background-color: #a67246;
        border: none;
        font-size: 18px;
        font-weight: 500;
        border-radius: 5px;
        letter-spacing: 1px;
        color: #ffffff;
        cursor: pointer;
        &:hover {
            background-color: #2b4034;
            transition: all ease 0.7s;
        }
    }
}
