@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);


*{
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    max-width: 1070px;
    width: 100%;
    margin: auto;
}

.menu{
    display: flex;
    li{
        a{
            padding: 3px 10px;
            margin: 0px 15px;
            color: #2B4034;
            font-weight: 500;
            letter-spacing: 0.5px;
            transition: all ease 0.3s;
        }
        a:hover, .active{
            color: #A67246;
            transition: all ease 0.3s;
        }
    }
}

.logo{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #2B4034;
}

.right_navbar{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    a{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: relative;
        span{
            position: absolute;
            top: -7px;
            right: -7px;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: #ffffff;
            font-size: 0.6rem;
            font-weight: 500;
            background-color: #A67246;
        }
       
    }
    .like{
        background-color: #D9D6D2;
        color: #2B4034;
    }

    .cart{
        background-color: #D9D6D2;
        color: #2B4034;
    }
}

// Cart Modal

.modal{
    display: none;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 300px;
    height: 300px;
    overflow: auto;
    background-color: #D9D6D2;
    border-radius: 10%;
    z-index: 100;
    animation: slide ease 1s;
    h1{
        text-align: center;
    }
    .quantity{
       margin-left: 80px;
    }
    #trash{
        margin-top: 0px;
        margin-left: 270px;
        font-size: 20px;
        color: black;
    }

    .closeCart{
        margin-top: 15px;
        margin-left: 250px;
        font-size: 25px;
        color: black;
    }

    #total_cart{
        // position: absolute;
        margin-left: 90px;
        top: 1px;
        right: -130px;
        width: 110px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 700;
        background-color: #A67246;
    }
    
}



// @keyframes slide {
//     0% {
//         transform: translateX(-100);
//     } 100% {
//         transform: translateX(0);
//     }
// }

#search_banner{
    max-width: 1250px;
    height: 500px;
    border-radius: 30px;
    background-color: #D9D6D2;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    background-image: url(./images/03_bolsa_granos.png.crdownload);
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: bottom right;
    padding: 20px;

}

.scroll_01{
    position: absolute;
    left: -50px;
    top: -150px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
}

.scroll_02{
    position: absolute;
    left: 60%;
    transform: translateX(-60%);
    top: -75px;
    width: 150px;
    height: 150px;
    object-position: center;
    object-fit: contain;
}

// Popular Product

#popular_product{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 80px auto;
}

.product_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3{
        font-size: 1.56rem;
        font-weight: 700;
        color: #2B4034;
        letter-spacing: 0.5px;
    }
    span{
        color: #2B4034;
        font-weight: 400;
        letter-spacing: 1px;
        cursor: pointer;
    }
}

.product_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 40px 0px;
}

.product-box{
    width: 100%;
    // border: 1px solid black;
    background-color: #D9D6D2;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    &:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);
        transition: all ease 0.3s;
    }
    img{
        width: 100%;
        height: 200px;
        object-fit: contain;
        object-position: center;
        margin: auto;
        border-radius: 5%;
    }
    strong{
        color: #2B4034;
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-weight: 600;
        margin-top: 10px;
    }
    .quantity{
        color: #A67246;
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .price{
        margin-top: 10px;
        font-size: 1.4rem;
        font-weight: 600;
        color: #2B4034;
    }
    .cart-btn{
        width: 100%;
        height: 40px;
        background-color: #A67246;
        color: #D9D6D2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        transition: all ease 0.3s;
        i{
            margin-right: 10px;
        }
        &:hover{
            background-color: #2B4034;
            color: #D9D6D2;
            transition: all ease 0.3s;
        }
    }
    // .like-btn{
    //     position: absolute;
    //     width: 30px;
    //     height: 30px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     right: 30px;
    //     top: 45px;
    //     color: #2B4034;
    //     background-color: white;
    //     border-radius: 50%;
    //     font-size: 1.3rem;
    //     #heart_off.active{
    //         color: orange;
            
    //     }
    //     #heart_on{
    //         color: gray;
    //         &:hover{
    //             color: red;
    //         }
    //     };

    // }
}
